
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container-inicio{
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;
  font-weight: 300;
  cursor: none;
  scroll-behavior: smooth;
}

/*---------------------SECCIÓN 1-----------------------------------*/
.Seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-inicio1 {
  padding: 20px;
  margin-left: 3%;
}

.text-inicio1 h2 {
  font-size: 30px;
  margin: 0%;
  color: #FFD557;
}

.text-inicio1 p {
  font-size: 23px;
  margin: 0;
  color: #666;
}

.content-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.text-inicio {
  width: 40%; /* Reducir el ancho del texto */
  padding: 20px;
  margin-top: -5%;
  margin-right: 20px; /* Agregar margen a la derecha para desplazar */
}

.text-inicio2 {
  width: 45%; /* Reducir el ancho del texto */
  padding: 20px;
  margin-right: 20px; /* Agregar margen a la derecha para desplazar */
  margin-top: -18%;
}

.text-inicio p {
  font-size: 20px;
  color: #666;
}

.text-inicio2 p {
  font-size: 20px;
  color: #666;
}

.Bachecito-26-txt{
  color: #FF9F49;
  font-weight: 900;
}

.image-inicio1 {
  width: 45%; 
  margin-left: 20px; /* Agregar margen a la izquierda para desplazar */
}

.image-inicio2 {
  width: 45%; /* Reducir el ancho de la imagen */
  margin-left: 20px; /* Agregar margen a la izquierda para desplazar */
  margin-top: -20%;
}

.image-inicio1 img {
  width: 40vw;
  height: 40vw;
  border-radius: 5vw;
  position: relative;
  animation: moveUpDown 1.5s ease-in-out;
}

.image-inicio2 img {
  border-radius: 5vw;
  width: 45vw;
  height: 40vw;
  position: relative;
  animation: moveUpDown 2s ease-in-out;
}

@keyframes moveUpDown {
  0% {
      transform: translateY(-80px); /* Mueve el elemento hacia arriba 50px */
  }
  50% {
      transform: translateY(70px); /* El elemento vuelve a su posición original */
  }
  100% {
    transform: translateY(0); /* El elemento vuelve a su posición original */
}
}

/*--------------------- SECCIÓN 2 ---------------------------------*/
.Seccion2{
  height: auto;
}
.contenedor-sec2-inicio {
  display: flex;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  position:absolute;
  z-index: 10;
}

.text-sec2{
  margin-left: 12vw;
  margin-top: -10%;
  width: 40vw;
  margin-right: 10vw;
}
.text-sec2 h2{
  font-size: 35px;
  color: #FFD557;
  text-align: center;
  font-weight: 900;
}
.text-sec2 p{
    font-size: 23px;
    color: #666;
    text-align: justify;
}

.image-container {
  position: relative;
}

.img-sec2 {
  width: 22vw;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.circle1 {
  width: 14vw;
  height: 14vw;
  z-index: -1;
  border-radius: 50%;
  background-color: #ffd557de;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.circle2 {
  width: 16vw;
  z-index: -1;
  height: 16vw;
  border-radius: 50%;
  background-color: #d9d9d9de;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.circle3 {
  z-index: -1;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color:#ff4d35de;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.top-left {
  top: -30px;
  left: +40px;
}

.middle-right {
  top: 30%;
  right: -80px;
}

.bottom-right {
  bottom: 0;
  left: 0;
}

.hover-message {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  font-size: 35px;
}

.image-container:hover .circle1.top-left {
  transform: translate(8vw);
}

.image-container:hover .circle2.middle-right {
  transform: translate(-18vw);
}

.image-container:hover .circle3.bottom-right {
  transform: translate(17vw);
}

.image-container:hover .hover-message {
  display: block;
}
    
canvas {
  width: 100%;
  height: auto;
  background-color: #ffffff00;
  cursor:grab;
  z-index: -1;
}


/*--------------------- SECCIÓN 3-----------------------------------*/
.Seccion3 {
  width: 100%;
  animation: fadeIn 2s ease-in-out;
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.long-text-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
}

.horizontal-scroll {
  display: flex;
}

.section {
  width: 100vw;
  flex-shrink: 0; /* Evita que las secciones se contraigan */
  height: 88vh;
}

/* Estilos adicionales para mejor visualización */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
}

.container-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 88vh;
  text-align: center;
}

.orbit {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 50%;
  top: -45%;
  left: 30%;
}

.emoji {
  position: absolute;
  font-size: 35px;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emojitxt{
    color: #FFD557;
    font-size: 3.4vw;
    position:relative;
    z-index: 10;
    top: 20%;
}

.align-section2{
  display: flex;
  justify-content: center;
  align-items: center;
  left: -5%;  
}

.image-section2 {
  width: 20vw; 
  margin-left: 20px; /* Agregar margen a la izquierda para desplazar */
  margin-right: 7%;
}

.image-section2 iframe{
  width: 16vw; 
  height: 75vh; 
  margin-top: 10%;
  border: none;
  border-radius: 1vw;
}

.text-section2 {
  width: 55vw; /* Reducir el ancho del texto */
  margin-top: -5%;
}

.text-section2 h2 {
  font-size: 2.5vw;
  text-align: start;
  color: #FFD557;
}

.text-section2 p {
  font-size: 1.5vw;
  color: #666;
  text-align: justify;
}

.text-section2-right{
  width: 55vw; /* Reducir el ancho del texto */
  margin-top: -5%;
  margin-right: 10%;
}

.text-section2-right h2 {
  font-size: 2.5vw;
  color: #FFD557;
  text-align:end;
}

.text-section2-right p {
  font-size: 1.5vw;
  color: #666;
  text-align: right;
}

.bubles-align-section5 {
  position: relative;
  width: 100%; /* Ancho del contenedor, puedes ajustarlo */
  margin-top: 2%;
  height: 100%;
  overflow: hidden;
}

.bubble {
  position: absolute;
  border-radius: 15%;
  opacity: 0.9;
}

.bubble.b1{
  width: 10vw; /* Ajusta el tamaño de acuerdo a tus imágenes */
  height: 7vw; /* Ajusta el tamaño de acuerdo a tus imágenes */
}

.bubble.b2{
  width: 7vw; /* Ajusta el tamaño de acuerdo a tus imágenes */
  height: 12vw; /* Ajusta el tamaño de acuerdo a tus imágenes */
}



/*--------------------- SECCIÓN 4-----------------------------------*/
.content-inicio-sec4 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  height: 100vh;
  margin-top: 5%;
  margin-left: 5%;
}

.text-sec4-inicio {
  flex: 1;
  width: 45vw;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 20px;
  margin-top: -5%;
}

.text-sec4-inicio h2 {
  margin-top: 0;
  color: #FF9F49;
  font-weight: 900;
  font-size: 30px;
}

.text-sec4-inicio p {
  margin-top: -2%;
  color: #666;
  font-size: 20px;
}

.image-sec4-inicio {
  flex: 1;
}

.image-sec4-inicio img {
  width: 35vw;
  height: 75vh;
}

.fill-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #FF9F49;
  border: 2px solid #FF9F49;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
  margin-top: 3%;
  border-radius: 20px;
  width: 95%;
  z-index: 10;
}

.fill-button:hover{
  color: #fff;
}

.fill-button::before {
  z-index: -10;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #FF9F49;
  transition: left 0.4s;
}

.fill-button:hover::before {
  color: #fff;
  left: 0;
}



/*--------------------- SECCIÓN 5-----------------------------------*/
.Seccion5{
  color: #FFB72C;
  text-align: center;
  padding: 20px;
}

.Seccion5 h2{
  color: #FFB72C;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10%;
}

.custom-hr{
    border: none; /* Eliminar la línea predeterminada */
    height: 2px; /* Altura de la línea */
    background-color: #FFB72C; /* Color de fondo */
    margin: 20px 0; /* Espaciado superior e inferior */
    margin-bottom: 8%;
}

.image-container-sec5 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-front img{
  width: 20vw;
  height: 60vh;
  border-radius: 2vw;

}
.card {
  position: relative;
  width: 20vw;
  height: 60vh;
  margin: 0 3vw;
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front {
  background-color: #bbb;
  border-radius: 2vw;
  color: black;
}
.card-back {
  border-radius: 2vw;
  font-size: 23px;
  background-color: #F1F1F1;
  color: #9D9D9D;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-middle{
  top: -60px;
}

.download-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  font-size: 23px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: #FF9F49;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  transition: ease-in .3s;
  box-shadow: 0 2px 25px #ffac63;
}

.download-button:hover{
  background-color: #FF9F49;
  transition: ease-in .3s;
  color: #ffffff;
}

.download-button:focus {
  outline: 0;
}
.download-button:before, .download-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.download-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FF9F49 20%, transparent 30%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF9F49 15%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.download-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF9F49 15%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%), radial-gradient(circle, #FF9F49 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.download-button:active {
  transform: scale(0.9);
  background-color: #FF9F49;
  box-shadow: 0 2px 25px #e6a369;
}
.download-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.download-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}


/*--------------------- SECCIÓN 6-----------------------------------*/
.content-inicio-sec6 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  height: 100vh;
  margin-top: 5%;
  margin-left: 10%;
}

.text-sec6-inicio {
  flex: 1;
  width: 45vw;
  margin-right: 10%;
  padding-right: 20px;
}

.text-sec6-inicio a {
  color: #FF9F49;
  font-weight: 900;
  font-size: 25px;
}

.text-sec6-inicio p {
  color: #666;  
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
}

.image-sec6-inicio {
  flex: 1;
}

.image-sec6-inicio img {
  width: 25vw;
  margin-left: 15%;
  height: auto;
}

.marca-copyright{
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  color: #9D9D9D;
  font-weight: 100;
  margin-top: -3%;
  margin-bottom: 15vh;
}

