.navBar {
    background-color: #ffffffde;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .navBar a {
    justify-content: center;
    float: left;
    color: #6f6f6f;
    margin-right: 8px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    position: relative;
    top: 5px;
  }
  
  .navBar .opc:hover {
    color: #ff9f49;
    transition: color 0.3s ease-in-out;
  }
  
  .navBar .opc:hover:after {
    width: 100%;
    left: 0;
  }
  
  .navBar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ff9f49;
    transition: width 0.3s ease 0s, left 0.5s ease 0s;
    width: 0;
  }
  
  
  
  .navBar .opc {
    float: right;
    padding-top: 1.5%;
  }
  
  .navBar .bachecito26 {
    margin-top: 5px;
    color: #ff9f49;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 120%;
    font-family: 'Alegreya Sans SC', sans-serif;
    display: flex;
  }
  
  .nopelien {
    position: relative;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    top: -7px;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
    height: 100%;
    background: #d0f4de;
  }
  
  .opc.btn--white {
    background-color: #ff9f49;
    margin-top: 5px;
    width: 90px;
    height: 10px;
    border: 1px transparent;
    color: #fff;
    border-radius: 30px;
    padding-bottom: 20px;
    transition: all 0.4s;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .opc.btn--white:hover {
    background-color: #ffffff00;
    color: #ff9f49;
    transition: .3s;
  }
  
  .prueba {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .menuIcon {
    flex-direction: column;
    cursor: pointer;
    right: 20px;
    top: 18px;
    position: fixed
  }
  
  .menuIcon.hidden {
    display: none;
  }
  
  .menu-icon span {
    display: block;
    border-radius: 15px;
    width: 27px;
    height: 3px;
    background-color: #ff9e49ce; 
    margin: 6px;
    transition: all 0.4s ease;
  }
  
  .menu-icon.span-anime span:first-child {
    transform: rotate(-135deg) translate(-20px, 6px);
    margin-left: -18px;
  }
  
  .menu-icon.span-anime span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.span-anime span:last-child {
    transform: rotate(135deg) translate(-19px, -5px);
    margin-left: -17px;
  }
  
  .navBar.showMenu .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffde;
    width: 100%;
    position: absolute;
    top: 60px; 
    left: 0;
    z-index: 99;
  }
  
  @media (max-width: 800px) {
    .navBar{
      width: 100%;
    }
  
    .menuItems {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      text-align: right;
      transition: .2s;
      width:31vw;
      margin-left: 66vw;
    }
    .opc {
      margin-bottom: 10px; /* Espacio entre enlaces */
    }
  
    .navBar a {
      justify-content: right;
      color: #6f6f6f;
      margin-right: 8px;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 100%;
      font-family: 'Nunito', sans-serif;
      text-align: right;
      position: relative;
      top: 5px;
    }
  
    .opc.btn--white {
      justify-content: right;
      color: #6f6f6f;
      text-decoration: none;
      font-size: 100%;
      font-family: 'Nunito', sans-serif;
      text-align: right;
      position: relative;
      top: 5px;
      width: 80%;
      background-color: #ffffff00;
      content: "Cuenta";
    }
    .prueba {
      display: flex;
      align-items: right;
      justify-content: right;
    }
  }